@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'HK Grotesk', sans-serif;
}

body {
    background-color: #ffffff;
}

.infoBar {
    height: 30px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 5px;
}

.toolbar {
    height: 100px;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: row;
}

#makePHP {
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    background-color: #e3e3e3;
}

#makePHP:hover {
    background-color: #757575;
    cursor: pointer;
}

input::placeholder {
    font-size: 0.75rem;
    font-weight: normal;
}

.codeBlocks {
    width: 45%;
    background-color: #ffffff;
    margin: 10px;
    height: 600px;
    border-right: 1px solid #8b8b8b;
}

.codeBlocks > h3 {
    text-align: center;
    font-size: 1.5rem;
}

.phpOutput {
    width: 45%;
    border-left: 1px solid #8b8b8b;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.phpCodeOutput {
    min-height: 45%;
    border-bottom: 1px solid #8b8b8b;
}

.codeElement {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    min-width: 90px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

.codeInstance {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 35px;
}

.codeInstance  * {
    margin: 5px;
    font-weight: bold;
}

.codeInstance input, select {
    border: none;
    width: 100px;
    border-radius: 30px;
    height: 30px;
    font-size: 1rem;
    padding: 5px;
}

.codeInstance input {
    text-align: center;
}

.params input {
    margin-left: 10px;
}

.codeInstance select {
    width: 70px;
}
.codeInstance button {
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 50px;
    font-size: 1rem;
    background-color: #ffffff;
    color: #8b8b8b;
    font-weight: bold;
}

.codeInstance .title {
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
}

.codeInstance.print{
    background-color: rgb(152, 255, 169);
}

.codeInstance.variable {
    background-color: rgb(152, 255, 169);
}

.codeInstance.forLoop {
    background-color: rgb(255, 221, 69)
}

.codeInstance.ifCondition {
    background-color: rgb(171, 68, 255);
}

.codeInstance.elseIfCondition {
    background-color: rgb(171, 68, 255);
}

.codeInstance.elseCondition {
    background-color: rgb(171, 68, 255);
}

.codeInstance.math {
    background-color: rgb(255, 131, 131);
}

.codeInstance.function {
    background-color: rgb(106, 156, 255);
}

.codeInstance.funcCall {
    background-color: rgb(106, 156, 255);
}

.codeInstance .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.phpOutput {
    padding-left: 20px;
}

.insideDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}